@model IEnumerable<Collections.Web.Entities.ApplicationUser>
@{
    ViewBag.Title = "Application users";
}

<a asp-action="Create">Add a new user</a>

<table class="table">
    <tr><th>Id</th><th>Username</th><th>Email</th><th>Status</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            @if (user.LockoutEnabled)
            {
                <td>Active</td>
            }
            else
            {
                <td>Blocked</td>
            }
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Change</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>