@using Collections.Web.Helpers
@using Collections.Web.ViewModels.Collection
@model DetailsCollectionViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-header">
        <h3 class="text-uppercase">Collection details</h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Author)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CollectionPicture)
            </dt>
            <dd class="col-sm-2">
                <img src="@ImageLocationHelper.RetriveFileFromFolder@Model.CollectionPicture" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
            </dd>
        </dl>
        <div>
            <a asp-action="Index" class="btn btn-sm btn-primary rounded-0"><i class="fas fa-fast-backward"></i>Back to collections</a>
        </div>
    </div>
</div>

<br>
<h4>Collection items</h4>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td><a asp-action="Details" asp-controller="Item" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a></td>
            </tr>
        }
    </tbody>
</table>